name: Run conftest-unittests.sh

on: [push, pull_request]

jobs:
  conftest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5

      - name: Validate integration test data via kubeval
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          raw: find policy/* -regex '.*test_data\/integration\/.*$' -exec kubeval --openshift --strict --skip-kinds ServiceMonitor {} \;

      - name: Conftest
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          tests: _test/conftest-unittests.sh
          policies: '[{"name": "deprek8ion", "url":"github.com/swade1987/deprek8ion.git//policies"}]'

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0

      - name: Test against KinD
        run: |
          confbatstest=$(docker images | head -n 2 | tail -1 | xargs | cut -d" " -f-2 | sed -e 's/ /:/g')
          docker run --rm --network host --workdir /conftest -v "/home/runner/.kube/":"/root/.kube/" -v "/home/runner/work/rego-policies/rego-policies":"/conftest" ${confbatstest} "" "" "kubectl cluster-info && _test/prow.sh deploy && _test/prow.sh test_k8s"

      - name: Get pods and events if tests failed
        if: ${{ failure() }}
        run: |
          kubectl get nodes
          kubectl get namespaces
          kubectl get pods --all-namespaces
          kubectl get events --all-namespaces
