name: Check POLICIES.md is up-to-date

on: [push, pull_request]

jobs:
  konstraint_doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Generate konstraint docs
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          raw: konstraint doc -o POLICIES.md

      - name: Check if there are changes to POLICIES.md
        id: changes
        uses: UnicornGlobal/has-changes-action@master
        with:
          pathspec: POLICIES.md

      - name: Fail if POLICIES.md changes found
        if: steps.changes.outputs.changed == 1
        run: |
          echo "Uncommited changes to POLICIES.md exist. Failing."
          exit 1

      - name: Link checker
        uses: gaurav-nelson/github-action-markdown-link-check@1.0.13