name: Run opa-profile.sh

on: [push, pull_request]

jobs:
  opa:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5

      - name: Opa eval --profile
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          tests: _test/opa-profile.sh
          policies: '[{"name": "deprek8ion", "url":"github.com/swade1987/deprek8ion.git//policies"}]'

      - name: Upload opa-profile.log
        uses: actions/upload-artifact@v2
        with:
          name: profile-results
          path: opa-profile.log
