name: Run opa-profile.sh

on: [push, pull_request]

jobs:
  opa:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Opa eval --profile
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          tests: _test/opa-profile.sh
          policies: '[]' # An empty array is provided as the policies are already cloned via source.

      - name: Upload opa-profile.log
        uses: actions/upload-artifact@v3
        with:
          name: profile-results
          path: opa-profile.log
