name: Lint policies with OPA/Regal

on: [push, pull_request]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-policy:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=open-policy-agent/opa
      OPA_VERSION: v1.12.2
      # renovate: datasource=github-releases depName=StyraInc/regal
      REGAL_VERSION: v0.38.0
      # renovate: datasource=pypi depName=yq
      YQ_VERSION: 3.4.3
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6

      - name: Setup yq (pypi.org/project/yq/)
        run: |
          pip3 install yq==${YQ_VERSION}

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
        with:
          version: ${{ env.OPA_VERSION }}

      - name: Setup Regal
        uses: StyraInc/setup-regal@33a142b1189004e0f14bf42b15972c67eecce776 # v1.0.0
        with:
          version: ${{ env.REGAL_VERSION }}

      - name: Setup Bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1

      - name: Setup Conftest
        uses: princespaghetti/setup-conftest@427bf563268433011fd432d23ae41e567cc24272 # v1.1.26

      - name: Setup oc
        uses: redhat-actions/openshift-tools-installer@144527c7d98999f2652264c048c7a9bd103f8a82 # v1
        with:
          oc: "4"

      - name: Run OPA Check
        run: opa check policy --strict --v0-compatible

      - name: Run Regal lint
        run: regal lint --format github policy

      - name: Run OPA eval --profile
        run: _test/opa-profile.sh

      - name: Upload opa-profile.log
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: profile-results
          path: opa-profile.log
